.nav-brand{
    font-size: 2rem;
}
nav ul a.active{
    background-color: #1ABC9C;
    border-radius: 10px;
}
nav ul a:hover{
    background-color: #1ABC9C;
    border-radius: 10px;
    transition: background-color .5s;
}
@media (max-width:992px){
    nav ul{
        height: 0px;
        overflow: hidden;
        transition: height .5s;
    }
    .open-nav{
        height: 125px !important;
        transition: height .5s;
    }
    .nav-brand{
        font-size: 1.5rem;
    }
    .p-Custom{
        padding: .7rem;
    }
}