@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --main-color:#2C3E50;
}
.bg-main{
    background-color: var(--main-color) !important;
}
.list-style-none{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
}
.font-family{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.height-100vh{
    min-height: calc(100vh - (3rem + 48px));
}